body {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  background-color: cornflowerblue;
  padding: 100px;
}
.form {
  width: 30%;
  padding: 50px;
  margin: 0px auto;
  border-radius: 5px;
  background-color: white;
  color: cornflowerblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
  margin-bottom: 55px;
}
input {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #dddddd;
  padding: 10px 2px;
  margin: 15px;
  width: 80%;
}
input:focus {
  outline-width: 0px;
}
#submit {
  width: 80%;
  border-radius: 15px;
  border: transparent;
  padding: 8px;
  font-weight: bold;
  color: #555555;
  background-color: cornflowerblue;
  color: white;
}
#welcome {
  height: 100px;
  display: none;
  padding:50px;
  background-color: white;
  color: cornflowerblue;
  border-radius: 5px;
}
